<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsq.daily.dao.TagDao">

	<resultMap type="Tag" id="TAG_MAP">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="userId" column="user_id" />
	</resultMap>

	<insert id="create" parameterType="Tag" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		tag(name,user_id)
		values(#{name},#{userId})
	</insert>

	<select id="findById" parameterType="int" resultMap="TAG_MAP">
		select *
		from tag
		where id = #{id}
		limit 1
	</select>

	<delete id="deleteById" parameterType="int">
		delete from tag
		where
		id =
		#{id}
	</delete>

	<select id="getAllTag" resultMap="TAG_MAP">
		select *
		from tag
	</select>

	<select id="getUserAllTag" parameterType="int" resultMap="TAG_MAP">
		select* from tag
		where user_id = #{userId}
	</select>

	<select id="getByUserIdName" parameterType="Tag" resultMap="TAG_MAP">
		select * from tag
		where name = #{name} and user_id = #{userId}
		limit 1
	</select>
</mapper>